<div class="container-fluid">
  <div class="row mt-3 mb-3">
    <div class="col-auto mr-auto">
      <h2>Listing endpoints</h2>
    </div>
    <div class="col-auto">
      <button pButton class="btn btn-primary" (click)="open('*')">
        Add new rule<i class="pi pi-plus ml-2"></i>
      </button>
    </div>
  </div>


</div>
<ng-container *ngIf="endpoints | async as data">
  <p-table [value]="data" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Port</th>
        <th>Status</th>
        <th>Endpoints</th>
        <th>Add Rule</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-endpoint>
      <tr>
        <td>{{endpoint.name}}</td>
        <td>{{ endpoint.address}}</td>
        <td>{{ endpoint.port}}</td>
        <td>{{ endpoint.status}}</td>
        <td>
          <div *ngFor="let e of endpoint.endpoints">
            {{e.replace("endpoint:", "")}}
          </div>
        </td>
        <td>
          <button pButton class="btn btn-primary" (click)="open(endpoint.name)">
            Add rule <i class="pi pi-plus ml-2"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>
