<h2>Listing endpoints</h2>
<ng-container *ngIf="endpoints | async as data">
  <p-table [value]="data" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Port</th>
        <th>Status</th>
        <th>Endpoints</th>
        <th>Add Rule</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-endpoint>
      <tr>
        <td>{{endpoint.name}}</td>
        <td>{{ endpoint.address}}</td>
        <td>{{ endpoint.port}}</td>
        <td>{{ endpoint.status}}</td>
        <td>
          <div *ngFor="let e of endpoint.endpoints">
            {{e.replace("endpoint:", "")}}
          </div>
        </td>
        <td>
          <button pButton class="btn btn-primary">
            <i class="pi pi-plus"></i>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

